{% include 'header.html' %}



    <!-- Page Header Start -->
    <div class="container-fluid py-5 mb-5" style="background: url(/static/img/header/about2.png) center center no-repeat;background-size: cover;height: 80vh;">
        <div class="container py-5">
            <h2 class="  mb-3 text-color animated slideInDown">About Innverse</h2>
            <h1 class="  mb-5  animated slideInDown">Powering an inclusive <br> digital future</h1>
            <a class="newbtn " href="">Get Started </a>

        </div>
    </div>
    <!-- Page Header End -->



    <!-- Facts Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <h2 class="  mt-3 ">Articulating <span class="text-primary">Innverse</span>
                    Core Values <span class="m-2 blink_me" style="border-right:3px solid #169545; "></span></h2>
                <p style="font-size: 20px;">We dedicatedly master the power of technology in bespoke ways <br>  for our customers, guided by three core values:</p>
                <div class="col-md-6 col-lg-4 wow fadeIn service-item" data-wow-delay="0.1s">
                    <div class="h-100 p-4 p-xl-5" style="border-right:1px solid grey;">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle"
                                style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="/static/img/icons/10.jpg" alt="Icon">
                            </div>
                            <!-- <h1 class="display-1 mb-0" style="color: #000000;">01</h1> -->
                        </div>
                        <h4 class="text-secondary">Innovation</h4>
                        <hr class="w-25">
                        <span> Innovation fuels our commitment to embracing creativity, propelling progress, and maintaining a leading edge in industry advancements. By integrating inventive thinking into our core strategies, we continuously push boundaries to deliver cutting-edge solutions. </span><br>
                        <a class="btn mt-3" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn service-item" data-wow-delay="0.3s">
                    <div class="h-100  p-4 p-xl-5" style="border-right:1px solid grey;">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle"
                                style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="/static/img/icons/25.jpg" alt="Icon">
                            </div>
                            <!-- <h1 class="display-1 mb-0" style="color: #000000;">02</h1> -->
                        </div>
                        <h4 class="text-secondary">Integrity</h4>
                        <hr class="w-25">
                        <span> Integrity guides our operations, ensuring transparency, honesty, and a steadfast ethical foundation in all our endeavors. We uphold principles that prioritize accountability and trustworthiness, fostering relationships built on reliability and respect.
                        </span><br>
                        <a class="btn mt-3" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn service-item " data-wow-delay="0.5s">
                    <div class="h-100 p-4 p-xl-5">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle"
                                style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="/static/img/icons/22.jpg" alt="Icon">
                            </div>
                            <!-- <h1 class="display-1 mb-0" style="color: #000000;">03</h1> -->
                        </div>
                        <h4 class="text-secondary">Inventiveness</h4>
                        <hr class="w-25">
                        <span>  Inventiveness thrives in our culture, where we actively encourage and celebrate out-of-the-box thinking. We cultivate an environment that champions creativity and innovation, inspiring our team to push boundaries and explore new possibilities.
                        </span><br>
                        <a class="btn mt-3" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    <!-- About Start -->
    <div class="container-fluid  overflow-hidden my-5 px-lg-0" style="background-color: #f3f3f3;">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="/static/img/about1.jpg"
                            style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                        <h1 class="mb-4">About Us</h1>
                        <p class="mb-4 pb-2">At INNVERSE, we lead the forefront of innovation in AI and data analytics solutions. With a commitment to transforming businesses through cutting-edge technology, we specialize in harnessing the power of artificial intelligence to unlock actionable insights from data. Our team of experts excels in developing robust AI algorithms and scalable data analytics frameworks tailored to meet the unique needs of our clients across diverse industries.</p>
                        <div class="row g-4 mb-4 pb-3">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/17.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="fw-medium text-color mb-0">Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/14.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="fw-medium text-color mb-0">Projects Done</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="newbtn " href="">Explore More </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- inspire start -->

    <div class="container-fluid mb-5" style="margin-top: 100px;">
        <h2 class=" text-center mb-5 mt-5">Values that inspire our culture and team<span
                class="m-2 blink_me" style="border-right:3px solid #169545; "></span></h2>
        <div class="row justify-content-center mt-5">
            <div class="col-md-1">
                <p class="display-6">01</p>
            </div>
            <div class="col-md-3">
                <h2>Empathy</h2>
            </div>
            <div class="col-md-7">
                <p>
                    We believe empathy is being able to connect with others (colleagues, customers, other stakeholders,
                    etc.) to identify and understand their needs, thoughts, perspectives, and emotions and being able to
                    demonstrate that understanding with intention, care, and concern.</p>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-1">
                <p class="display-6">02</p>
            </div>
            <div class="col-md-3">
                <h2>Lean</h2>
            </div>
            <div class="col-md-7">
                <p>
                    We operate in a lean way by focusing on maximizing value for our customers from each engagement by
                    eliminating clutter (emotional, time, & financial) and optimizing our processes, workflows, and
                    resources.</p>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-1">
                <p class="display-6">03</p>
            </div>
            <div class="col-md-3">
                <h2>Bias for Action</h2>
            </div>
            <div class="col-md-7">
                <p>We believe bias for action is paramount for success. Individuals and teams are expected to move
                    forward with a sense of urgency and a willingness to take measured and thoughtful steps to achieve
                    their goals.</p>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-1">
                <p class="display-6">04</p>
            </div>
            <div class="col-md-3">
                <h2>Continuous Learning</h2>
            </div>
            <div class="col-md-7">
                <p>
                    We believe learning never ends. We always seek to improve to foster innovation, upskill and reskill
                    ourselves, and enhance organizational agility. We converge our learning to knock our ideas and
                    solutions by bringing the best version of them every time.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-1">
                <p class="display-6">05</p>
            </div>
            <div class="col-md-3">
                <h2>Ownership</h2>
            </div>
            <div class="col-md-7">
                <p>
                    We think and act like owners. We take pride in going above and beyond the call of duty to support
                    our stakeholders.</p>
            </div>
        </div>

        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-1">
                <p class="display-6">06</p>
            </div>
            <div class="col-md-3">
                <h2>Collaboration</h2>
            </div>
            <div class="col-md-7">
                <p>We believe in one team spirit. We respect and appreciate everyone’s contributions, opinions,
                    beliefs, and cultural differences within the workplace to foster a collaborative work environment
                    where everyone feels valued, connected, supported, and committed to achieving a shared goal.</p>
            </div>
        </div>


    </div>

    <!-- inspire end -->
    <!-- message start -->
    <div class="container-fluid  overflow-hidden my-5 px-lg-0" style="background-color: #f3f3f3;margin-top: 50px;">

    <div class="container p-5">
        <h2 class="text-center mb-5 ">Message from the CEO<span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h2>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="/static/img/sirwaseem.jpg" width="500px" height="500px" alt="">
            </div>
            <div class="col-md-6 wow fadeIn ">
                <h2 class="mt-5 text-secondary">Unlocking the potential of AI</h2>
                <p class="mt-5">Since our inception, we’ve successfully built a reputation of trust, reliability and of
                    delivering exceptional services. We are progressively diversifying into new markets with our
                    battle-hardened methodologies. Every day, we work to empower our customers to get the maximum out of
                    technology.</p>
                <p class="mt-5"> We challenge, we innovate, and we continue to deepen our knowledge and expertise to
                    realize the best value for our customers. We do this through a culture that cultivates a
                    relationship-based approach to helping people and businesses be successful.</p>
                <h5 class="mt-5 text-secondary" >Waseem Ahmad</h5>
            </div>
        </div>
    </div>
    </div>


    <!-- message End -->

    <!-- Team Start -->
    <div class="container-xxl py-5 mt-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <!-- <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div> -->
                <h1 class=" mb-5 ">Team Members <span class="m-2 blink_me"
                        style="border-right:3px solid #169545; "></span></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="/static/img/team-1.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <span class="text-primary">Designation</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="/static/img/team-2.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <span class="text-primary">Designation</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="/static/img/team-3.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <span class="text-primary">Designation</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="/static/img/team-4.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <span class="text-primary">Designation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- accomoplish start -->
    <div class="container-fluid  overflow-hidden  " style="background-color: #f3f3f3;">

    <div class="container p-5" >
        <h2 class="text-center mb-5 ">Accomplishment<span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h2>
        <div class="row mt-5">

            <div class="col-md-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mt-5 ">Helping progressive businesses build, evolve & scale since <span
                        class="">2005</span></h1>
                <p class="mt-5">We are a dynamic global technology services company leading digital transformation and
                    serving clients from SMEs to Fortune 100 firms in retail, CPG, and more.</p>
                <p class="mt-3"> We take immense pride in being recognized as trusted Google Cloud and Microsoft
                    Solutions Partners, cementing alliances that empower our clients with cutting-edge solutions and
                    unmatched expertise. We specialize in Cloud, Data & AI, software development, staff augmentation,
                    and Microsoft Power Platform, along with Microsoft Dynamics 365 ERP and CRM. Additionally, we offer
                    innovative flagship solutions tailored to modern business challenges.</p>

            </div>
            <div class="col-md-6">
                <img src="/static/img/accmo.png" width="500px" height="500px" alt="">
            </div>
        </div>
    </div>
    </div>

    <!-- accomoplish end -->
   

    <!-- country picture section start -->
    <div class="container-fulid" style="margin-top: 100px;margin-bottom:20px">
        <div class="row g-0">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h2 class="">OUR GLOBAL PRESENCE<span class="m-2 blink_me"
                        style="border-right:3px solid #169545;"></span></h2>
                <p style="font-size: 20px;">We enable clients in 16+ countries to drive continued growth through
                    innovation, re-imagination, and transformation.</p>
            </div>
        </div>
      
        <div class="row mt-5 g-0">
            <div class="col-md-3 con-img p-3" style="background-image: url(/static/img/img1.svg);background-repeat:no-repeat;
        background-position: center center; 
            background-size: cover;">
                <h1 class="text-secondary text-end ">USA</h1>
            </div>
            <div class="col-md-3 con-img p-3" style="background-image: url(/static/img/img2.svg);background-repeat:no-repeat;
                background-position: center center; 
            background-size: cover;">   
                <h1 class="text-secondary text-end ">UK</h1>
            </div>
            <div class="col-md-3 con-img p-3" style="background-image: url(/static/img/img3.svg); background-repeat:no-repeat;
                background-position: center center; 
            background-size: cover;">
                <h1 class="text-secondary text-end ">UAE</h1>
            </div>
            <div class="col-md-3 con-img p-3" style="background-image: url(/static/img/img4.svg);background-repeat:no-repeat;    background-position: center center;  background-size: cover;">
                <h1 class="text-secondary text-end ">PAK</h1>
            </div>
         
         
        </div>
    </div>

    <!-- country picture section End -->

  
{% include 'footer.html' %}