{% include 'header.html' %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5" style="background: url(/static/img/header/4.png) center center no-repeat;background-size: cover;height: 80vh;">
        <div class="container py-5">
            <h2 class="  mb-3 text-primary animated slideInDown">AI strateegy & consultation </h2>
            <h1 class="  mb-4  animated slideInDown">
                AI strategy consultancy provides <br>guidance for effective artificial <br>intelligence integration.
            </h1>
            <p class="fs-5 text-secondary  mb-4 pb-2 typing-demo">AI strategy and consultancy services offer tailored<br> guidance to organisations seeking to leverage<br> artificial intelligence effectively in their operations.</p>
            <a class="newbtn " href="">Get Started </a>

        </div>
    </div>
    <!-- Page Header End -->
    <!-- section start -->
    <div class="container">
        <p class="text-center htext">Innverse helps private and public AI strateegy & consultation  leaders make 
            better, more affordable, and more accessible for millions of people around the world.</p>
        <hr class="hline">
    </div>

    <!-- section end -->

    <!-- Text section Start  -->
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 mt-5 mb-5">
                <h1 class="">Unlock the value of your<br> data with AI strateegy & consultation software</h1>
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <p>
                    There are lots of unknowns and risks when it comes to machine learning. And you might not always
                    have enough talent in-house to successfully execute your AI project.
                </p>
                <p><b>We delivered more than 100 custom AI solutions in 20 countries worldwide and developed the AI
                        strategy for the Estonian government, so we have enough competence to support you.</b></p>
            </div>
        </div>
    </div>



    <!-- Text section End  -->

    <!-- pic section Start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 120px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h2 class="mb-5 ">Our customers appreciate that<br> we provide more than just<br> regular AI strateegy & consultation
                        services</h2>
                    <p>Besides being top-notch specialists in machine learning we have a team of expert business
                        consultants ready to support you in achieving your business goals and help to develop the final
                        AI solution that matches your stakeholders’ expectations.</p>
                </div>
                <div class="col-md-6">
                    <img src="/static/img/customer.webp" alt="">
                </div>
            </div>
        </div>

    </div>

    <!-- pic section Start -->

    <!-- icons section start  -->
    <div class="container" style="margin-top: 150px;">
        <h1 class="">We provide AI strateegy & consultation solution <span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h1>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img class="newpic mt-5 " src="/static/img/icons/6.jpg" alt=""><br>
                <div class="idiv">

                    <h6 class=" text-center mt-3 ">Data labeling</h6>
                    <p class="text-center p-2">
                        Data Labelling involves adding tags or annotations for machine learning.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/2.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3  ">Data architecture</h6>
                    <p class="text-center p-2">
                        Data architecture designs the structure and flow of information systems.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/18.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">AI strategy</h6>
                    <p class="text-center p-2">
                        AI strategy outlines plans for implementing artificial intelligence initiatives effectively.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/17.png" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">Piloting</h6>
                    <p class="text-center p-2">
                        Piloting involves testing small-scale implementations to assess feasibility and effectiveness.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/8.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">Scaling</h6>
                    <p class="text-center p-2">
                        Scaling refers to expanding and optimising systems or operations for growth.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/9.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">NLOps</h6>
                    <p class="text-center p-2">
                        Natural Language Processing, involves analysing and understanding language data.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/26.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">Data collection</h6>
                    <p class="text-center p-2">
                        Data collection entails gathering information for analysis, often from diverse sources.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/35.jpg" alt=""><br>
                
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">App development</h6>
                    <p class="text-center p-2">
                        App development involves creating software applications for various platforms and devices.</p>
                </div>
            </div>
        </div>

        <div class="row " style="margin-top: 100px;">
            <div class="col-md-6 mt-5 mb-5">
                <h1 class="">It means that we are with<br> you from the start to the<br> finish of the final AI strateegy & consultation
                    solution</h1>
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <p>From validating ideas on the business side to creating a strategy that is based on them. Making sure
                    everything is ready from the data side from quality, quantity, engineering and scalability.
                </p>
                <p><b>We set up all the necessary MLOps infrastructure for initial pilots and scale successful pilots.
                        Of course, we develop the actual AI models producing the desired output and the supporting
                        applications to exploit the output of those models.</b></p>
            </div>
        </div>

    </div>
    <!-- icons section End -->

    <!-- AI section start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 120px;">
        <div class="container">
            <h1 class="">AI for business: Reinvent what's<br> possible</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-dark mt-4">AI is accelerating into a mega-trend, transforming industries, companies and the way we live and work. Organizations that build a strong data & AI foundation will be better positioned to reinvent, compete and achieve new levels of performance.</p>
                    <p class="text-dark"> 
                        Accenture helps companies move from AI interest to action to value, in a responsible way with clear business cases. We help companies get their data, people and processes ready for AI, with a secure, cloud-based digital core that allows for continuous reinvention and greater growth, efficiency and resilience.
                    </p>
                </div>
                <div class="col-md-6" style="overflow: hidden; ">
                    <img src="/static/img/genAI.webp"  alt="">
                    <div class="p-3" style="background-color: white;">
                        <p class="text-dark mt-3 textborder">Artificial Intelligence</p>
                        <h3 class="mt-3">A new era of generative AI for everyone</h3>
                        <p class="text-dark mt-3 mb-5">The technology underpinning ChatGPT will transform work and reinvent business.</p>
                        <a class="newbtn " href="">Read More</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- AI section End -->

    <!-- tab section Start -->

    <div class="container" style="margin-top: 150px;">
        <h1 class=" mb-5">AI strategy services <span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h1>
        <button class="tablink" onclick="openPage('Home', this, 'White')" style="border: none;">
            <img src="/static/img/1.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;" alt=""> <br>
            <b>NLP</b></br></button>
        <button class="tablink" onclick="openPage('News', this, 'White')">
            <img src="/static/img/computervision.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;"
                alt=""> <br>
            <b>Computer Vision</b></button>
        <button class="tablink" onclick="openPage('Contact', this, 'White')" id="defaultOpen">
            <img src="/static/img/AIrecommender.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;"
                alt=""> <br>
            <b>AI recommender</b></button>
        <button class="tablink" onclick="openPage('About', this, 'White')">
            <img src="/static/img/data-science.svg" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;"
                alt=""> <br>
            <b>Data Science</b></button>
        <button class="tablink" onclick="openPage('new', this, 'White')">
            <img src="/static/img/dataicon.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;" alt="">
            <br>
            <b>Data engineering</b></button>
        <button class="tablink" onclick="openPage('data', this, 'White')">
            <img src="/static/img/mlops.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;" alt=""> <br>
            <b>MLOps</b></button>

        <div id="Home" class="tabcontent">
            <h2 class="text-color mt-3">Natural language processing</h2>
            <p class="text-dark mt-5"> One of the key values provided by machine learning is processing unstructured
                data like speech and text to extract facts and insights, removing the reliance on inaccurate keyword
                searches and sluggish processing of audio recordings. </p>
            <p class="text-dark mt-3">AI-based natural language processing (NLP) solutions allow machines to perform
                these tasks at a speed that is unmatched by humans. This allows us to classify entire documents, divide
                them into sections by topic, understand the user’s intent in a conversation, or extract pieces of
                information from long texts</p>
            <p class="text-dark mt-3"><b>Our services include:</b></p>

            <p class="text-dark mt-1"><span class="text-primary">_</span> Natural language understanding</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Summarization</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Semantic Search</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Sentiment Analysis</p>
            <p class="text-primary"><b>NLP Services</b></p>

        </div>

        <div id="News" class="tabcontent">
            <h2 class="text-color mt-3">Computer vision</h2>
            <p class="text-dark mt-5">Here at MindTitan, we develop computer vision applications focused on deriving
                meaningful information from visual inputs like images and videos at a scale and speed impossible for
                humans. </p>
            <p class="text-dark mt-3">Our experience in this domain allows us to provide our partners with solutions
                tailored to their specific datasets, scale and performance needs.
                Computer vision is a field of artificial intelligence that enables computers to interpret and understand
                visual information from the real world. It involves tasks such as image recognition, object detection,
                and scene understanding, using techniques like deep learning and image processing algorithms to extract
                meaningful insights from images or videos.</p>
            <p class="text-dark mt-3"><b>Our services include:</b></p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Video recognition </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Object tracking</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Face recognition</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Video analytics</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Image recognition</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Object detection</p>
            <p class="text-primary"><b>Computer Vision Services</b></p>
        </div>

        <div id="Contact" class="tabcontent">
            <h2 class="text-color mt-3">AI recommendation engine</h2>
            <p class="text-dark mt-5">AI-powered recommendation engines can make recommendations based on tens of
                thousands of data points. This means highly relevant results for the end-user. This area of machine
                learning is especially relevant for the aviation, retail, banking and telecom industries where it’s used
                for. </p>
            <p class="text-dark mt-3">An AI recommendation engine analyses user data to suggest products, services, or
                content tailored to individual preferences. It utilises machine learning algorithms to predict user
                behaviour and offer personalised recommendations, enhancing user experience and increasing engagement.
                These engines are widely used in e-commerce, streaming platforms, and social media.</p>
            <p class="text-dark mt-3"><b>Our services include:</b></p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Personalized marketing and sales offers </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Location-based recommendations</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Recommendations based on recent/past activity
            </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Recommendations based on real-time activity
            </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Matching people with interests or with other
                people</p>
            <p class="text-primary"><b>AI recommender</b></p>
        </div>

        <div id="About" class="tabcontent">
            <h2 class="text-color mt-3">Data science services</h2>
            <p class="text-dark mt-5">
                Data science is an interdisciplinary field that employs scientific methods, processes, algorithms, and
                systems to extract knowledge and insights from structured and unstructured data. It encompasses various
                techniques such as data mining, machine learning, and statistical analysis to uncover patterns, trends,
                and correlations, aiding in decision-making and problem-solving. </p>

            <p class="text-dark mt-3"><b>Our services include:</b></p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Predictive maintenance </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Predictive analytics</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Process mining</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Pattern recognition</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Cluster analysis</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Information retrieval</p>
            <p class="text-primary"><b>Data science services</b></p>
        </div>
        <div id="new" class="tabcontent">
            <h2 class="text-color mt-3">Data engineering and Big Data</h2>
            <p class="text-dark mt-5">
                The term itself is loosely defined, but quite clear from the perspective of the challenge – handling big
                data requires different, and far more complex, tools from small data.<br><br>

                At MindTitan we’ve had to deal with all kinds of data and have the experience to know when using the
                more complex toolset is merited and worth the extra cost in development and maintenance. And if you
                really need it, we can help you make the right choices and build the system that helps you solve your
                problems. </p>

            <p class="text-dark mt-3"><b>Our services include:</b></p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Data analytics and insights </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Data pipeline development</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Data integration services</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Data processing frameworks</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Data storage solutions</p>
            <p class="text-primary"><b>Data engineering and Big Data services</b></p>
        </div>
        <div id="data" class="tabcontent">
            <h2 class="text-color mt-3">MLOps</h2>
            <p class="text-dark mt-5">
                With MLOps we use a set of techniques that aim to deploy and maintain ML models in production reliably
                and efficiently.<br><br>
                MLOps, short for Machine Learning Operations, is a practice that combines DevOps and data engineering
                principles to streamline the deployment, monitoring, and management of machine learning models in
                production environments. It focuses on automation, collaboration, and continuous improvement to ensure
                the reliability and scalability of ML systems.. </p>

            <p class="text-dark mt-3"><b>Our services include:</b></p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Getting data to data scientists in an orderly
                fashion, ensuring they all work on the same data and know what data was used for what model </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Getting models from a notebook to production
            </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Getting feedback from the models to data
                scientists</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Monitoring the deployments</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Improving the deployments</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Making it all work as a cycle with model
                versioning and continuous deployment without manual work</p>
            <p class="text-primary"><b>MLOps services</b></p>
        </div>
    </div>
    <!-- tab section end -->

    <!-- projects section Start-->

    <div class="container" style="margin-top: 150px;">
        <h1 class="">Our projects<span class="m-2 blink_me" style="border-right:3px solid #169545; "></span></h1>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <img src="/static/img/telecom.jpg" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3"> Visualising and analysing big datasets </h3>
                <p class="text-dark mb-5">A conversational interface with its own voice, Annika takes calls from
                    clients, listens to what they have to say, and directs them to the best course of action.
                    This is done using multilingual speech recognition to translate speech to words, transformer based
                    NLP models to understand the content of a customer’s sentence and non-autoregressive Transformer
                    based text to speech models that provide Annika with her signature voice.</p>
                <a class="newbtn" href="">Read More</a>
            </div>
            <div class="col-md-6">
                <img src="/static/img/job.avif" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3">Tracking and analysing trends in large-scale</h3>
                <p class="text-dark mb-5 ">Building a job search and career development platform requires quite a bit of
                    data collection - user profiles, job descriptions, cover letters, etc. We designed a system that
                    takes user provided documents - CV-s, cover letters, job and education descriptions, etc. - as input
                    and, using transformer based language models, extracts the relevant information that fits the data
                    model of the platform. </p>
                <a class="newbtn" href="">Read More</a>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <img src="/static/img/fraud.jpeg" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3">Big data analytics solution for <br>discovering patterns </h3>
                <p class="text-dark mb-5">The machine learning system learns from expert auditors and helps to detect
                    potential tax fraud. This solution is deployed at the Estonian Tax and Customs Board of Estonia.</p>
                <a class="newbtn" href="">Read More</a>
            </div>
            <div class="col-md-6">
                <img src="/static/img/cv.png" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3"> System for optimising business operations through data-driven</h3>
                <p class="text-dark mb-5 ">Our system helps power line utilities to inspect their power grids with the
                    help of drones to capture data and a specialized inspection platform called uBird to analyze it.</p>
                <a class="newbtn" href="">Read More</a>
            </div>
        </div>
    </div>
    <!-- projects section End-->

    <!-- why us section start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 120px;">

    <div class="container" >
        <h1 class="mb-5 mt-5">Why us?<span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h1>

        <div class="row mt-5">

            <div class="col-md-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mt-5 ">We speed up your learning curve</h1>
                <p class="mt-5">The MindTitan team works with machine learning projects all the time, and has highly
                    qualified specialists on board; thus, we can start implementing the project right away, not spending
                    time learning how to be more efficient.</p>
                <p class="mt-5"> We already know who is good at what and who to include to efficiently deliver your
                    project. This might mean including a specific person with a particular skill set for 1 day or 6
                    months.</p>

            </div>
            <div class="col-md-6">
                <img src="/static/img/whyus.jpg" width="500px" height="500px" alt="">
            </div>
        </div>
        <div class="row " style="margin-top: 200px;">
            <div class="col-md-6">
                <img src="/static/img/sirwaseem.jpg" width="500px" height="500px" alt="">
            </div>
            <div class="col-md-6 wow fadeIn ">
                <h2 class="mt-5  ">Unlocking the potential of AI</h2>
                <p class="mt-5">Since our inception, we’ve successfully built a reputation of trust, reliability and of
                    delivering exceptional services. We are progressively diversifying into new markets with our
                    battle-hardened methodologies. Every day, we work to empower our customers to get the maximum out of
                    technology.</p>
                <p class="mt-5"> We challenge, we innovate, and we continue to deepen our knowledge and expertise to
                    realize the best value for our customers. We do this through a culture that cultivates a
                    relationship-based approach to helping people and businesses be successful.</p>
                <h5 class="mt-5 text-secondary">Waseem Ahmad</h5>
            </div>
        </div>
    </div>
    </div>
    <!-- why us section end -->



    <!-- faq's start -->
    <div class="container " style="margin-top: 150px;">
        <div class="container mt-5">
            <!-- <p class="text-dark textborder " style="font-family: 'Times New Roman', Times, serif;margin-top: 50px;">GROW AND SCALE</p> -->

            <h1 class="">
                Frequently ask question<span class="m-2 blink_me" style="border-right:3px solid #169545; "></span>
            </h1>

        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h5> How do I know that I need AI to solve my problem?</h5>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Discovering the right process to be enhanced with AI may be an unusual task for business
                        people.<br><br>

                        People should come to us when they have a business problem where they intuitively feel that the
                        solution could be hidden in data and that it can not be solved by writing a couple of simple
                        rules. If this is the case, AI might be the solution.<br><br>

                        To actually define an AI use case, business leaders will need the help of an AI team, who judge
                        if and how to proceed with the problem enhancement; the problem owner who knows the most about
                        the issue; and technical specialists who understand how the problem described by the problem
                        owner can be interacted with in the technical world.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h5>Who is responsible for data collection and labeling?</h5>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Data collection is most often on the client side as it is connected to
                        the peculiar business problem to be solved we help as much as we can, especially if it is a data
                        source we have worked with before.<br><br>

                        Labeling can be on the client side if very specific knowledge is required for labeling or it can
                        be outsourced to a labeling company or us. Hybrid solutions are also available, and in all
                        cases, we provide proper labeling training and guidelines tailored to the computer vision task.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h5>How much times does it take to execute an AI project?</h5>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">If you imagine the process made up of iterations of the cycle: data
                        collection, labeling, model development + training, testing & evaluation and deployment into the
                        final solution, usually the first 2 steps take 20-50% of the time (the smaller the project /
                        standard problem, the higher the percentage) while the split between the latter 3 is really
                        dependent of the novelty of the problem being solved, the required performance level and the
                        complexity of deployment. The AI project range is from 3 months to multi-year collaborations.
                    </div>
                </div>

            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        <h5>
                            Do you guarantee the success of the project?</h5>
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">During the project evaluation, we provide a feasibility assessment, and
                        for problems in which we have experience, we can provide a more precise prediction and discuss
                        the forecasted minimum level of performance.</div>
                </div>

            </div>

        </div>

    </div>

    <!-- faq's End -->




    <!-- who can Start -->
    <div class="container">
        <div class="row " style="margin-top: 100px;">
            <div class="col-md-12">
                <h1 class="text-center">How can we help you?</h1>
                <p class="text-center" style="font-size: 22px;">Are you ready to push boundaries and explore new
                    frontiers of innovation?</p>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 ">
                        <a href="contact.html"><button class=" mt-3 mb-5 lwt ">LET'S WORK TOGETHER</button></a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- who can End -->
{% include 'footer.html' %}