{% include 'header.html' %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5" style="background: url(/static/img/header/14.png) center center no-repeat;background-size: cover;height: 80vh;">
        <div class="container py-5">
            <h2 class="  mb-3 text-primary animated slideInDown">Computer vision </h2>
            <h1 class="  mb-4  animated slideInDown">
                Computer vision enables<br> machines to interpret and understand <br>visual information
            </h1>
            <p class="fs-5  mb-4 pb-2 typing-demo">
                Computer vision involves developing algorithms to <br>enable machines to understand and interpret visual information<br> from the real world.</p>
                <a class="newbtn " href="">Get Started </a>

        </div>
    </div>
    <!-- Page Header End -->
    <!-- section start -->
    <div class="container">
        <p class="text-center htext">Innverse helps private and public computer vision  leaders make 
            better, more affordable, and more accessible for millions of people around the world.</p>
        <hr class="hline">
    </div>

    <!-- section end -->

    <!-- Text section Start  -->
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 mt-5 mb-5">
                <h1 class="">Unlock the value of your<br> data with computer vision software</h1>
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <p>
                    There are lots of unknowns and risks when it comes to machine learning. And you might not always
                    have enough talent in-house to successfully execute your AI project.
                </p>
                <p><b>We delivered more than 100 custom AI solutions in 20 countries worldwide and developed the AI
                        strategy for the Estonian government, so we have enough competence to support you.</b></p>
            </div>
        </div>
    </div>



    <!-- Text section End  -->

    <!-- pic section Start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 120px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/img/computer.webp" alt="">
                </div>
                <div class="col-md-6 ">
                    <h2 class="mb-5 ">Derive value with computer vision</h2>
                    <p class="mt-5">Here at Mindtitan, we develop AI solutions focused on deriving valuable information from visual inputs like images and videos at a scale and speed impossible for humans.</p>
                    <p>Our experience in this domain allows us to provide our partners with solutions tailored to their specific datasets, scale and performance needs.our experience in this domain allows us to provide our partners with solutions tailored to their specific datasets, scale and performance needs.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- pic section Start -->

    <!-- icons section start  -->
    <div class="container" style="margin-top: 150px;">
        <h1 class="">We provide computer vision solution <span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h1>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img class="newpic mt-5 " src="/static/img/icons/6.jpg" alt=""><br>
                <div class="idiv">

                    <h6 class=" text-center mt-3 ">Data labeling</h6>
                    <p class="text-center p-2">
                        Data Labelling involves adding tags or annotations for machine learning.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/2.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3  ">Data architecture</h6>
                    <p class="text-center p-2">
                        Data architecture designs the structure and flow of information systems.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/18.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">AI strategy</h6>
                    <p class="text-center p-2">
                        AI strategy outlines plans for implementing artificial intelligence initiatives effectively.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/17.png" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">Piloting</h6>
                    <p class="text-center p-2">
                        Piloting involves testing small-scale implementations to assess feasibility and effectiveness.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/8.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">Scaling</h6>
                    <p class="text-center p-2">
                        Scaling refers to expanding and optimising systems or operations for growth.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/9.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">NLOps</h6>
                    <p class="text-center p-2">
                        Natural Language Processing, involves analysing and understanding language data.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/26.jpg" alt=""><br>
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">Data collection</h6>
                    <p class="text-center p-2">
                        Data collection entails gathering information for analysis, often from diverse sources.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="newpic mt-5" src="/static/img/icons/35.jpg" alt=""><br>
                
                <div class="idiv">
                    <h6 class=" text-center mt-3 ">App development</h6>
                    <p class="text-center p-2">
                        App development involves creating software applications for various platforms and devices.</p>
                </div>
            </div>
        </div>

        <div class="row " style="margin-top: 100px;">
            <div class="col-md-6 mt-5 mb-5">
                <h1 class="">It means that we are with<br> you from the start to the<br> finish of the final
                    solution</h1>
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <p>From validating ideas on the business side to creating a strategy that is based on them. Making sure
                    everything is ready from the data side from quality, quantity, engineering and scalability.
                </p>
                <p><b>We set up all the necessary MLOps infrastructure for initial pilots and scale successful pilots.
                        Of course, we develop the actual AI models producing the desired output and the supporting
                        applications to exploit the output of those models.</b></p>
            </div>
        </div>

    </div>
    <!-- icons section End -->

    <!-- AI section start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 120px;">
        <div class="container">
            <h1 class="">AI for business: Reinvent what's<br> possible</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-dark mt-4">AI is accelerating into a mega-trend, transforming industries, companies and the way we live and work. Organizations that build a strong data & AI foundation will be better positioned to reinvent, compete and achieve new levels of performance.</p>
                    <p class="text-dark"> 
                        Accenture helps companies move from AI interest to action to value, in a responsible way with clear business cases. We help companies get their data, people and processes ready for AI, with a secure, cloud-based digital core that allows for continuous reinvention and greater growth, efficiency and resilience.
                    </p>
                </div>
                <div class="col-md-6" style="overflow: hidden; ">
                    <img src="/static/img/genAI.webp" alt="">
                    <div class="p-3" style="background-color: white;">
                        <p class="text-dark mt-3 textborder">Artificial Intelligence</p>
                        <h3 class="mt-3">A new era of generative AI for everyone</h3>
                        <p class="text-dark mt-3 mb-5">The technology underpinning ChatGPT will transform work and reinvent business.</p>
                        <a class="newbtn " href="">Read More</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- AI section End -->

    <!-- tab section Start -->

    <div class="container" style="margin-top: 150px;">
        <h1 class=" mb-5">Computer vision services <span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h1>
        <button class="tablink" onclick="openPage('Home', this, 'White')" style="border: none;">
            <img src="/static/img/Image Recognition.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;" alt=""> <br>
            <b>Image Recognition</b></br></button>
        <button class="tablink" onclick="openPage('News', this, 'White')" id="defaultOpen">
            <img src="/static/img/Object Detection.webp" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;"
                alt=""> <br>
            <b>Object Detection</b></button>
        <button class="tablink" onclick="openPage('Contact', this, 'White')" >
            <img src="/static/img/Face Recognition.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;"
                alt=""> <br>
            <b>Face Recognition</b></button>
        <button class="tablink" onclick="openPage('About', this, 'White')">
            <img src="/static/img/Video Analytics.webp" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;"
                alt=""> <br>
            <b>Video Analytics</b></button>
        <button class="tablink" onclick="openPage('new', this, 'White')">
            <img src="/static/img/Video Recognition.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;" alt="">
            <br>
            <b>Video Recognition</b></button>
        <button class="tablink" onclick="openPage('data', this, 'White')">
            <img src="/static/img/Object_Tracking.png" style="width: 50px; height: 50px; margin-top: 0px;margin-bottom: 5px;" alt=""> <br>
            <b>Object Tracking</b></button>

        <div id="Home" class="tabcontent">
            <h2 class="text-color mt-3">Image Recognition</h2>
            <p class="text-dark mt-5">Image recognition is tasked with detecting and identifying people, items, places, writing or otherwise specific features on an image. Vision data like pictures from different manufacturing steps in a production line, for instance, could be used to make real-time decisions based on real-time detections of any quality or process deviation in real-time.
            <br>
                Historical data could also be batch processed to gain insight on the current production procedure to seek continuous improvement.</p>
            <p class="text-dark mt-3">AI-based natural language processing (NLP) solutions allow machines to perform
                We can provide vision systems that can be leveraged across multiple fields by leveraging different tools: in addition to the classification models described above, we can use Image Segmentation methods that are used to divide (segment) each image in multiple areas so that each pixel belongs to a known label.</p>
          
        </div>

        <div id="News" class="tabcontent">
            <h2 class="text-color mt-3">Object Detection</h2>
            <p class="text-dark mt-5">Object detection adds localization to the former family of models by providing exact information regarding the position of multiple objects within the images. The application field for these models is extremely varied and includes, for example: </p>
           
            
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Detection of production issues or defects in manufacturing </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Automation of visual inspections of equipment or buildings</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Warehousing automation and inventory assessments</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Characterising different production stages in the pharmaceutical industry</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Crowd counting in public spaces as well as tools to guarantee that a minimum distance is respected when required</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Workplace safety/PPE monitoring tools</p>
            <p class="text-dark mt-3">Optical character recognition models convert images of typed, handwritten or printed text into machine-encoded text and are used for translation services, licence plate recognition and road-side signage information extraction.</p>
        </div>

        <div id="Contact" class="tabcontent">
            <h2 class="text-color mt-3">Face Recognition</h2>
            <p class="text-dark mt-5">Our services also include ad-hoc AI systems like Face Recognition models that match known pictures of individuals to new images even when partial occlusion or angle variations are present. </p>
            <p class="text-dark mt-3">Using distinctive facial features like the distance between the eyes or the shape of the cheekbones, the algorithms produce a condensed representation of the detected face for easy comparison against a database.</p>
            <p class="text-dark mt-3"><b>Such capability can be used for:</b></p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> access control to restricted areas </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> assist law enforcement in identifying criminals and missing persons, even among crowds</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span>identity validation in a purchase process
            </p>
          
        </div>

        <div id="About" class="tabcontent">
            <h2 class="text-color mt-3">Video Analytics</h2>
            <p class="text-dark mt-5">
                Video analytics involves the analysis of video content to extract valuable insights and information. It encompasses tasks such as object detection, activity recognition, and anomaly detection, using techniques like machine learning and computer vision algorithms to interpret visual data and enhance decision-making processes in various domains.</p>

                <p class="text-dark mt-5">
                    Video analytics leverages advanced algorithms to extract meaningful insights from video data, enabling applications such as surveillance, crowd monitoring, and behavioural analysis in diverse industries like security and retail.</p>
           
        </div>
        <div id="new" class="tabcontent">
            <h2 class="text-color mt-3">Video Recognition</h2>
            <p class="text-dark mt-5">
                Video inputs can provide supplementary information in subsequent images such as a new angle/view of an object or the evolution of a person’s motion. We can translate this extra data into a deeper knowledge and insight through video processing algorithms that are at the core of functionalities like: </p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Human Activity Recognition tools can be used to assess what activities a person is carrying out and are used in security systems, sport and health surveillance, medical and disability assistance, gaming and human-computer interaction, retail theft prevention. </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Visual speech recognition</p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Facial and micro expressions recognition</p>
            
        </div>
        <div id="data" class="tabcontent">
            <h2 class="text-color mt-3">Object Tracking</h2>
            <p class="text-dark mt-5">
                Going further from video classification, Object tracking models leverage the change in object localization of the detected labels over different video frames enabling technologies like </p>
            <p class="text-dark mt-1"><span class="text-primary ">_</span> Autonomous driving, which at its core consists of an “awareness” of the vehicle position compared to others and the road. </p>
            <p class="text-dark mt-1"><span class="text-primary">_</span> Gaze estimation to quantitatively measure human engagement and intention</p>
            <p class="text-dark mt-5">
               
Object tracking involves the continuous monitoring and tracing of objects in video streams over time. It enables applications such as surveillance, traffic monitoring, and sports analysis, facilitating the detection, classification, and trajectory prediction of moving objects in dynamic environments. </p>
        </div>
    </div>
    <!-- tab section end -->

    <!-- projects section Start-->

    <div class="container" style="margin-top: 150px;">
        <h1 class="">Our projects<span class="m-2 blink_me" style="border-right:3px solid #169545; "></span></h1>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <img src="/static/img/telecom.jpg" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3">Image Recognition use cases</h3>
                <p class="text-dark mb-5">A conversational interface with its own voice, Annika takes calls from
                    clients, listens to what they have to say, and directs them to the best course of action.
                    This is done using multilingual speech recognition to translate speech to words, transformer based
                    NLP models to understand the content of a customer’s sentence and non-autoregressive Transformer
                    based text to speech models that provide Annika with her signature voice.</p>
                <a class="newbtn" href="">Read More</a>
            </div>
            <div class="col-md-6">
                <img src="/static/img/job.avif" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3">Object Detection use cases</h3>
                <p class="text-dark mb-5 ">Building a job search and career development platform requires quite a bit of
                    data collection - user profiles, job descriptions, cover letters, etc. We designed a system that
                    takes user provided documents - CV-s, cover letters, job and education descriptions, etc. - as input
                    and, using transformer based language models, extracts the relevant information that fits the data
                    model of the platform. </p>
                <a class="newbtn" href="">Read More</a>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <img src="/static/img/fraud.jpeg" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3">Video Recognition use cases</h3>
                <p class="text-dark mb-5">The machine learning system learns from expert auditors and helps to detect
                    potential tax fraud. This solution is deployed at the Estonian Tax and Customs Board of Estonia.</p>
                <a class="newbtn" href="">Read More</a>
            </div>
            <div class="col-md-6">
                <img src="/static/img/cv.png" class="projectimg mt-5 mb-5" alt="">
                <h3 class=" mb-3">
                    Face Recognition use cases</h3>
                <p class="text-dark mb-5 ">Our system helps power line utilities to inspect their power grids with the
                    help of drones to capture data and a specialized inspection platform called uBird to analyze it.</p>
                <a class="newbtn" href="">Read More</a>
            </div>
        </div>
    </div>
    <!-- projects section End-->

    <!-- why us section start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 120px;">

    <div class="container" >
        <h1 class=" mb-5 mt-5">Why us?<span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h1>

        <div class="row mt-5">

            <div class="col-md-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mt-5 ">We speed up your learning curve</h1>
                <p class="mt-5">The MindTitan team works with machine learning projects all the time, and has highly
                    qualified specialists on board; thus, we can start implementing the project right away, not spending
                    time learning how to be more efficient.</p>
                <p class="mt-5"> We already know who is good at what and who to include to efficiently deliver your
                    project. This might mean including a specific person with a particular skill set for 1 day or 6
                    months.</p>

            </div>
            <div class="col-md-6">
                <img src="/static/img/whyus.jpg" width="500px" height="500px" alt="">
            </div>
        </div>
        <div class="row " style="margin-top: 200px;">
            <div class="col-md-6">
                <img src="/static/img/sirwaseem.jpg" width="500px" height="500px" alt="">
            </div>
            <div class="col-md-6 wow fadeIn ">
                <h2 class="mt-5 ">Unlocking the potential of AI</h2>
                <p class="mt-5">Since our inception, we’ve successfully built a reputation of trust, reliability and of
                    delivering exceptional services. We are progressively diversifying into new markets with our
                    battle-hardened methodologies. Every day, we work to empower our customers to get the maximum out of
                    technology.</p>
                <p class="mt-5"> We challenge, we innovate, and we continue to deepen our knowledge and expertise to
                    realize the best value for our customers. We do this through a culture that cultivates a
                    relationship-based approach to helping people and businesses be successful.</p>
                <h5 class="mt-5 text-secondary">Waseem Ahmad</h5>
            </div>
        </div>
    </div>
    </div>
    <!-- why us section end -->



    <!-- faq's start -->
    <div class="container " style="margin-top: 150px;">
        <div class="container mt-5">
            <!-- <p class="text-dark textborder " style="font-family: 'Times New Roman', Times, serif;margin-top: 50px;">GROW AND SCALE</p> -->

            <h1 class="">
                Frequently ask question<span class="m-2 blink_me" style="border-right:3px solid #169545; "></span>
            </h1>

        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h5> How do I know that I need AI to solve my problem?</h5>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Discovering the right process to be enhanced with AI may be an unusual task for business
                        people.<br><br>

                        People should come to us when they have a business problem where they intuitively feel that the
                        solution could be hidden in data and that it can not be solved by writing a couple of simple
                        rules. If this is the case, AI might be the solution.<br><br>

                        To actually define an AI use case, business leaders will need the help of an AI team, who judge
                        if and how to proceed with the problem enhancement; the problem owner who knows the most about
                        the issue; and technical specialists who understand how the problem described by the problem
                        owner can be interacted with in the technical world.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h5>Who is responsible for data collection and labeling?</h5>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Data collection is most often on the client side as it is connected to
                        the peculiar business problem to be solved we help as much as we can, especially if it is a data
                        source we have worked with before.<br><br>

                        Labeling can be on the client side if very specific knowledge is required for labeling or it can
                        be outsourced to a labeling company or us. Hybrid solutions are also available, and in all
                        cases, we provide proper labeling training and guidelines tailored to the computer vision task.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h5>How much times does it take to execute an AI project?</h5>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">If you imagine the process made up of iterations of the cycle: data
                        collection, labeling, model development + training, testing & evaluation and deployment into the
                        final solution, usually the first 2 steps take 20-50% of the time (the smaller the project /
                        standard problem, the higher the percentage) while the split between the latter 3 is really
                        dependent of the novelty of the problem being solved, the required performance level and the
                        complexity of deployment. The AI project range is from 3 months to multi-year collaborations.
                    </div>
                </div>

            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        <h5>
                            Do you guarantee the success of the project?</h5>
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">During the project evaluation, we provide a feasibility assessment, and
                        for problems in which we have experience, we can provide a more precise prediction and discuss
                        the forecasted minimum level of performance.</div>
                </div>

            </div>

        </div>

    </div>

    <!-- faq's End -->




    <!-- who can Start -->
    <div class="container">
        <div class="row " style="margin-top: 100px;">
            <div class="col-md-12">
                <h1 class="text-center">How can we help you?</h1>
                <p class="text-center" style="font-size: 22px;">Are you ready to push boundaries and explore new
                    frontiers of innovation?</p>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 ">
                        <a href="contact.html"><button class=" mt-3 mb-5 lwt ">LET'S WORK TOGETHER</button></a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- who can End -->

{% include 'footer.html' %}

