{% include 'header.html' %}
    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/header/slider.jpg" style="height: 90vh;" alt="">
                <div class="carousel-inner">
                    <div class="container  ">
                        <div class="row ">
                            <div class="col-12 col-lg-8 ">

                                <h1 class="display-3  animated slideInDown mb-4">Transforming<br> <span
                                        class="text-primary">Data </span>into <br><span
                                        class="text-color">Innovation</span>
                                </h1>
                                <p class="fs-5   mb-4 pb-2 typing-demo">Boost your business with Innverse, where we specialize in Artificial  Intelligence, <br>data science, Big data, and cloud computing. Innverse is dedicated <br> to developing intelligent solutions for innovation and growth.
                                </p>
                                
                                    <a class="newbtn " href="">Get Started </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/header/slider.jpg" style="height: 90vh;" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row ">
                            <div class="col-12 col-lg-8 ">
                                <h1 class="display-3  animated slideInDown mb-4">Transforming<br> <span
                                        class="text-primary">Data </span>into <br><span
                                        class="text-color">Innovation</span>
                                </h1>
                                <p class="fs-5   mb-4 pb-2 typing-demo">
                                    Boost your business with Innverse, where we specialize in Artificial Intelligence,<br> data science, Big data, and cloud computing. Innverse is dedicated<br> to developing intelligent solutions for innovation and growth.
                                </p>
                                <!-- <a href="" class=" animated slideInLeft "> <button id="blinking-button"> Get Started
                                    </button> </a> -->
                                    <a class="newbtn " href="">Get Started </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/header/slider.jpg" style="height: 90vh;" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row ">
                            <div class="col-12 col-lg-8 ">
                                <h1 class="display-3  animated slideInDown mb-4">Transforming<br> <span
                                        class="text-primary">Data </span>into <br><span
                                        class="text-color">Innovation</span>
                                </h1>
                                <p class="fs-5   mb-4 pb-2 typing-demo">Boost your business with Innverse, where we specialize in Artificial Intelligence,<br> data science, Big data, and cloud computing. Innverse is dedicated <br>to developing intelligent solutions for innovation and growth.
                                </p>
                                <!-- <a href="" class=" animated slideInLeft "> <button id="blinking-button"> Get Started
                                    </button> </a> -->
                                    <a class="newbtn " href="">Get Started </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section start -->
    <div class="container">
        <div>
            <img src="img/hrline.jpg" class="hrline mb-5" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4  ">
                    <h2 class="text-primary  text1">WHAT<br> WE<br> DO</h2>
                </div>
                <div class="col-md-1">
                    <img src="/static/img/vline.jpg" class="vrline"  height="150px" alt="">
                </div>
                <div class="col-md-6 text-start line">
                    <p>At INNVERSE, we excel in all domains of Data Science and AI, committed to implementing cutting-edge AI solutions. Our mission is to deliver reliable data products worldwide, ensuring premium services at affordable prices. Partner with us for innovative solutions that redefine possibilities in AI and beyond.</p>
                    <!-- <a href=""><button class="btn btn1 mt-1">Get Started
                        </button></a> -->
                        <a class="newbtn " href="" style="padding: 8px 40px;">Read More </a>
                </div>

            </div>
        </div>
    </div>
    <!-- section end -->


    <!-- Facts Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <h1 class="text-center  mt-5 ">Articulating <span class="text-primary">Innverse </span>
                    Core Values <span class="m-2 blink_me" style="border-right:3px solid #169545; "></span></h1>
                <div class="col-md-6 col-lg-4 wow fadeIn service-item mt-5" data-wow-delay="0.1s">
                    <div class="h-100 p-4 p-xl-5" style="border-right:1px solid grey;">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle"
                                style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="/static/img/icons/10.jpg" alt="Icon">
                            </div>
                            <!-- <h1 class="display-1 mb-0" style="color: #000000;">01</h1> -->
                        </div>
                        <h4 class="text-secondary">Innovation</h4>
                        <hr class="w-25">
                        <span> Innovation fuels our commitment to embracing creativity, propelling progress, and maintaining a leading edge in industry advancements. By integrating inventive thinking into our core strategies, we continuously push boundaries to deliver cutting-edge solutions.</span><br>
                        <a class="btn mt-3" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn service-item mt-5" data-wow-delay="0.3s">
                    <div class="h-100  p-4 p-xl-5" style="border-right:1px solid grey;">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle"
                                style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="/static/img/icons/25.jpg" alt="Icon">
                            </div>
                            <!-- <h1 class="display-1 mb-0" style="color: #000000;">02</h1> -->
                        </div>
                        <h4 class="text-secondary">Integrity</h4>
                        <hr class="w-25">
                        <span> Integrity guides our operations, ensuring transparency, honesty, and a steadfast ethical foundation in all our endeavors. We uphold principles that prioritize accountability and trustworthiness, fostering relationships built on reliability and respect.</span><br>
                        <a class="btn mt-3" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn service-item mt-5" data-wow-delay="0.5s">
                    <div class="h-100 p-4 p-xl-5">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle"
                                style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="/static/img/icons/22.jpg" alt="Icon">
                            </div>
                            <!-- <h1 class="display-1 mb-0" style="color: #000000;">03</h1> -->
                        </div>
                        <h4 class="text-secondary">Inventiveness</h4>
                        <hr class="w-25">
                        <span>Inventiveness thrives in our culture, where we actively encourage and celebrate out-of-the-box thinking. We cultivate an environment that champions creativity and innovation, inspiring our team to push boundaries and explore new possibilities.
                        </span><br>
                        <a class="btn mt-3" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    <!-- AI section start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 80px;">
        <div class="container">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
            <h1 class="">AI for business: Reinvent what's possible</h1>

                    <p class="text-dark mt-4"> Innverse recognizes AI as a transformative mega-trend that reshapes industries, companies, and our daily lives. Establishing a robust data and AI foundation enables organizations to innovate, compete effectively, and achieve heightened performance levels.
                    </p>
                    <p class="text-dark">
                        At Innverse, we facilitate the journey from AI interest to tangible value, emphasizing responsible deployment through robust business cases. We prepare companies by optimizing their data, workforce, and workflows for AI integration, leveraging a secure, cloud-based digital infrastructure. This approach supports continuous reinvention, fostering enhanced growth, efficiency, and resilience across all operations.
                        <br><br>
                        Generative AI refers to a class of algorithms and models that are designed to generate new content, such as images, text, music, and even videos, based on patterns and examples from large datasets. These algorithms have advanced significantly in recent years, thanks to breakthroughs in deep learning and neural network architectures like GANs (Generative Adversarial Networks), transformers, and reinforcement learning.
    


                    </p>
                </div>
                <div class="col-md-6" style="overflow: hidden; ">
                   
                    <img src="/static/img/genAI.webp"  alt="">
                    <div class="p-3" style="background-color: white;">
                        <p class="text-dark mt-3 textborder">Artificial Intelligence</p>
                        <h3 class="mt-3">A new era of generative AI for everyone</h3>
                        <p class="text-dark mt-3 mb-4">In today's rapidly evolving technological landscape, generative AI stands at the forefront of innovation, promising transformative capabilities for businesses and individuals alike. At INNVERSE, we believe that we are entering a new era where generative AI is not just a tool for tech giants or specialized researchers, but something accessible and beneficial to everyone.
                        </p>
                        <a class="newbtn " href="">Read More </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- AI section End -->


    <!-- section start -->
    <div class="container-fluid">
        <div class="container  p-5" style="margin-top: 60px; ">
            <h1 class="">We are key for your AI solution <span class="m-2 blink_me"
                    style="border-right:3px solid #169545; "></span></h1>
                    <h3 class="text-secondary">
                        AI Conversational Agents and Chatbots:

                    </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="flip-card mt-5">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" >
                                <h3 class="mt-5 mb-3 text-primary">AI Conversational Agents and Chatbots</h3>
                                <h5 class="mt-2  ">Advancements in AI Conversational Agents and Chatbots</h5>
                                
                            </div>
                            <div class="flip-card-back" style="background-color:#f3f3f3"> 
                                <p class="mt-4 text-dark p-3">
                                     Integrations with AI assistants and voice recognition technologies have enabled chatbots to offer more personalized and intuitive interactions.
                                    <br><br>
                                    Ethical considerations surrounding data privacy and algorithm bias are critical in the development and deployment of AI conversational agents.
                                    
                                </p>  
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card mt-5">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"  >
                                <h3 class="mt-5 mb-3 text-primary">Data Analytics and Marketing</h3>

                            <h5 class="mt-3  ">Data Analytics Driving Marketing Strategy and Performance</h5>

                                
                            </div>
                            <div class="flip-card-back" style="background-color:#f3f3f3">
                            <p class="mt-4 text-dark p-3">
                                Explore hybrid approaches combining content-based filtering with collaborative filtering to leverage both item attributes and user interactions.
                                <br><br>
                                
                            Integrate deep learning models like neural collaborative filtering for handling complex patterns and implicit feedback in recommendation systems.
                                

                            </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card mt-5">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" >
                                <h3 class="mt-5 mb-3 text-primary">Predictive Analytics and Forecasting</h3>
                                <h5 class="mt-2  ">Leveraging Predictive Analytics and Forecasting for Business Insights</h5>

                            </div>
                            <div class="flip-card-back" style="background-color:#f3f3f3">
                                <p class="mt-4 text-dark p-3">
                                    Implement predictive modeling techniques to optimize inventory management and supply chain operations.
                                    <br><br>
                                    Integrate data mining approaches to extract actionable insights from large datasets for strategic decision-making.
                                

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <div class="flip-card mt-5">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" >
                                <h3 class="mt-5 mb-3 text-primary">Image and Video Analysis</h3>
                                <h5 class="mt-2  ">Advances in Image <br>and Video Analysis Techniques</h5>
                                
                            </div>
                            <div class="flip-card-back" style="background-color:#f3f3f3">
                                <p class="mt-4 text-dark p-3">
                                    Implement semantic segmentation algorithms such as U-Net for pixel-level understanding in medical imaging and autonomous driving.
                                    <br><br>
                                    Explore transfer learning techniques to leverage pre-trained models for rapid development and deployment of image analysis solutions.

                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card mt-5">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3 class="mt-5 mb-3 text-primary">Advance Text Analytics</h3>
                            <h5 class="mt-3  ">Advancements in Text <br>Analytics  for Insightful Data Interpretation</h5>
                                
                        
                            </div>
                            <div class="flip-card-back" style="background-color:#f3f3f3">
                                <p class="mt-4 text-dark p-3">
                                    Employ named entity recognition (NER) and entity linking to extract and analyze key entities from unstructured text data
                                    <br>
                                    <br>
                                    Integrate text summarization methods, including extractive and abstractive approaches, for condensing large volumes of text into concise insights.
                                    
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card mt-5">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3 class="mt-5 mb-3 text-primary">Recommendation System</h3>
                                <h5 class="mt-2  ">Enhancing Recommendations Systems Using Machine Learning</h5>


                            </div>
                            <div class="flip-card-back" style="background-color:#f3f3f3"> 
                               <p class="mt-4 text-dark p-3"> 
                                Utilize A/B testing and multivariate analysis to experiment with different marketing tactics and refine strategies on data-driven insights.
                                <br>
                                <br>
                                 Integrate data from various sources using data warehousing and visualization tools to gain a holistic view of journeys and engagement.
                                
                                
                            </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- section end -->




    <!-- About Start -->
    <div class="container-fluid  overflow-hidden my-5 px-lg-0" style="background-color: #f3f3f3;">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="/static/img/about1.jpg"
                            style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                        <h1 class=" mb-4">About Us</h1>
                        <p class="mb-4 pb-2">At INNVERSE, we lead the forefront of innovation in AI and data analytics solutions. With a commitment to transforming businesses through cutting-edge technology, we specialize in harnessing the power of artificial intelligence to unlock actionable insights from data. Our team of experts excels in developing robust AI algorithms and scalable data analytics frameworks tailored to meet the unique needs of our clients across diverse industries.</p>
                        <div class="row g-4 mb-4 pb-3">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/17.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="fw-medium text-color mb-0">Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/14.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="fw-medium text-color mb-0">Projects Done</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="" class="btn btn1 rounded-pill py-3 px-5">Explore More</a> -->
                        <a class="newbtn" href="/about-us">Explore More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container" style="margin-bottom: 70px;">
            <h1 class="mt-3 ">Our Services<span class="m-2 blink_me"
                    style="border-right:3px solid #169545; "></span></h1>
            <p style="font-size: 16px;">At INNVERSE, we are dedicated to providing cutting-edge AI solutions tailored to meet the diverse needs of modern businesses.<br> As an innovative AI company, our services encompass a wide range of capabilities  aimed at leveraging artificial intelligence <br>to drive growth, efficiency, and competitive advantage for our clients.</p>

            <div class="row g-0 service-row justify-content-center mt-5">
                <!-- <div class="col-md-12"></div> -->
                <div class="card col-md-3 mt-5 service-item" style="height: 430px;border-color: white; ">
                    <img class="card-img-top" src="/static/img/icon/artificial.jpg" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Artificial Intelligence</h5>
                        <p class="card-text" style="color: #000000;">AI techniques include machine learning, deep
                            learning, natural language processing NLP .</p>
                        <a class="btn" href="/customize-AI-solution"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="card col-md-3 mt-5 service-item" style="height: 430px; border-color: white;">
                    <img class="card-img-top" src="/static/img/icon/datascience.jpg" alt="Card image cap"
                        style="width: 100%; height: 220px;">

                    <div class="card-body">
                        <h5 class="card-title"> Data science</h5>
                        <p class="card-text" style="color:black;">Data science is an interdisciplinary field that
                            utilizes scientific methods, . </p>
                        <a class="btn" href="/data-science"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="card col-md-3 mt-5 service-item" style="height: 430px;border-color: white;">
                    <img class="card-img-top" src="/static/img/icon/deeplearning.jpg" alt="Card image cap"
                        style="width: 100%; height:220px;">
                    <div class="card-body">
                        <h5 class="card-title">Generative AI</h5>
                        <p class="card-text" style=color:black;>
                            "Generation AI" typically refers to the generation of children who are growing up in a world
                            .</p>
                        <a class="btn" href="/generative-AI"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                    <div class="row"></div>
                </div>
                <div class="card col-md-3 mt-5 service-item" style="height: 430px;border-color: white;">
                    <img class="card-img-top" src="/static/img/icon/social_nerwork.jpg" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Computer vision </h5>
                        <p class="card-text" style=color:black;>
                            Computer vision is a field of artificial intelligence and computer science that focuses.</p>
                        <a class="btn" href="/computer-vision"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="card col-md-3 mt-5 service-item " style="height: 430px;border-color: white;">
                    <img class="card-img-top" src="/static/img/data.avif" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Data Engineering</h5>
                        <p class="card-text" style=color:black;>Data engineering is a field within data science that
                            focuses on designing, buildine.</p>
                        <a class="btn" href="/data-engineering"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="card col-md-3 mt-5 service-item" style="height: 430px; border-color: white;">
                    <img class="card-img-top" src="/static/img/green2.jpg" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Big Data </h5>
                        <p class="card-text" style=color:black;>Some quick example text to build on the card title and
                            make up the bulk of the content.</p>
                        <a class="btn" href="/big-data-analytics"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>

                    </div>
                </div>

                <div class="card col-md-3 mt-5 service-item" style="height: 430px;border-color: white;">
                    <img class="card-img-top" src="/static/img/Customize AI solution.avif" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title"> Customize AI Solution </h5>
                        <p class="card-text" style=color:black;>
                            Customize AI Solution is a field of artificial intelligence and computer science that
                            focuses.</p>
                        <a class="btn" href="/customize-AI-solution"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="card col-md-3 mt-5 service-item " style="height: 430px;border-color: white;">
                    <img class="card-img-top" src="/static/img/nlp.jpg   " alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Natural Language Processing</h5>
                        <p class="card-text" style=color:black;>Natural Language Processingis a field within data
                            science
                            .</p>
                        <a class="btn" href="/natural-langauge-processing"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="card col-md-3 mt-5 service-item" style="height: 430px; border-color: white;">
                    <img class="card-img-top" src="/static/img/ai.jpg" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">AI Strategy & Consultation
                        </h5>
                        <p class="card-text" style=color:black;>Some quick example text to build on the card title and
                            make up the bulk of the content.</p>
                        <a class="btn" href="/AI-strategy-concultation"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <h1 class="mt-4 ">More Services<span class="m-2 blink_me"
                                style="border-right:3px solid #169545; "></span></h1>
                    </div>
                </div>

                <div class="card col-md-3 mt-5 service-item" style="height: 430px;border-color: white;">
                    <img class="card-img-top" src="/static/img/Software development.avif" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Web & Mobile App Development</h5>
                        <p class="card-text" style=color:black;>
                            Computer vision is a field of artificial intelligence and computer science that focuses.</p>
                        <a class="btn" href="/website-development"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="card col-md-3 mt-5 service-item " style="height: 430px;border-color: white;">
                    <img class="card-img-top" src="/static/img/seo.png" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Search Engine Optimization</h5>
                        <p class="card-text" style=color:black;>Data engineering is a field within data science that
                            focuses on designing, buildine.</p>
                        <a class="btn" href="/secrch-engine-optimization"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="card col-md-3 mt-5 service-item" style="height: 430px; border-color: white;">
                    <img class="card-img-top" src="/static/img/banner3.avif" alt="Card image cap"
                        style="width: 100%; height: 220px;">
                    <div class="card-body">
                        <h5 class="card-title">Digital Marketing</h5>
                        <p class="card-text" style=color:black;>Digital marketing is about leveraging digital channels
                            and technologies to promote products, services clients. </p>
                        <a class="btn" href="/digital-marketing"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0" style="background-color: #f3f3f3;">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                        <h1 class="mb-3">Why Choose Us</h1>
                        <p class="mb-4 pb-2">Why Choose INNVERSE:

                            Expertise and Innovation: Our team comprises seasoned AI specialists with deep expertise in cutting-edge technologies and methodologies.
                            
                            Collaborative Approach: We partner closely with clients to understand their unique challenges and deliver tailored solutions that drive tangible business outcomes.
                            
                            Scalability and Flexibility.</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/40.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-color mb-2">Trusted</p>
                                        <h5 class="mb-0">Security</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/39.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-color mb-2">Quality</p>
                                        <h5 class="mb-0">Services</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/36.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-color mb-2">Smart</p>
                                        <h5 class="mb-0">Systems</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="/static/img/icons/42.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-color mb-2">24/7 Hours</p>
                                        <h5 class="mb-0">Support</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="/static/img/cho.avif" style="position: fixed;"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->

    <!-- section start -->

    <div class="container mt-5 mb-5">
        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-8 ">
                <h1 class="text-center">Achieve unparalleled business success</h1>
                <h1 class="text-center">through advanced tech solutions</h1>
                <p class="text-center mt-4">We pave the way for bringing smart ideas to life by leveraging future-ready
                    solutions. Let’s help you in discovering your passion and celebrate your achievements together.</p>

            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row justify-content-center mt-3">

            <div class="col-md-2 ">
                <img src="/static/img/google.png" width="142px" height="40px" alt="">

            </div>
            <div class="col-md-2">
                <img src="/static/img/microsoft.png" width="142px" height="30px" alt="">

            </div>
            <div class="col-md-2">
                <img src="/static/img/snow.png" width="142px" height="30px" alt="">

            </div>
            <div class="col-md-2">
                <img src="/static/img/ibm.jpg" width="142px" height="30px" alt="">

            </div>
            <div class="col-md-2">
                <img src="/static/img/data.png" width="142px" height="30px" alt="">

            </div>
            <div class="col-md-2">
                <img src="/static/img/unnamed.jpg" width="100px" height="50px" alt="">
            </div>
        </div>
    </div>

    <!-- section end -->

    <!-- Projects Start -->
    <div class="container-fluid pt-5 pb-5" style="margin-top: 120px;">

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                    <h1 class=" mb-5">Our Projects <span class="m-2 blink_me"
                            style="border-right:3px solid #169545; "></span></h1>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="mx-2 active" data-filter="*">All</li>
                            <li class="mx-2" data-filter=".first">Complete Projects</li>
                            <li class="mx-2" data-filter=".second">Ongoing Projects</li>
                        </ul>
                    </div>
                </div>
                <div class="row g-4 portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="/static/img/portfolio-1.jpg" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">Business Security</p>
                                <h5 class="lh-base mb-0">Enhanced resource acquisition solution    </h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">Business Security</p>
                                <h5 class="lh-base mb-3">Enhanced resource acquisition solution</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square button rounded-circle mx-1" href="/static/img/portfolio-1.jpg"
                                        data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square button rounded-circle mx-1" href=""><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="/static/img/portfolio-2.jpg" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">Fire Detection</p>
                                <h5 class="lh-base mb-0">Intelligent waste management system</h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">Fire Detection</p>
                                <h5 class="lh-base mb-3">Intelligent waste management system</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square button rounded-circle mx-1" href="/static/img/portfolio-2.jpg"
                                        data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square button rounded-circle mx-1" href=""><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="/static/img/portfolio-3.jpg" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">Access Control</p>
                                <h5 class="lh-base mb-0">Video Attendance and Employee monitoring</h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">Access Control</p>
                                <h5 class="lh-base mb-3">Video Attendance and Employee monitoring</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square button rounded-circle mx-1" href="/static/img/portfolio-3.jpg"
                                        data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square button rounded-circle mx-1" href=""><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="/static/img/portfolio-4.jpg" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">Alarm Systems</p>
                                <h5 class="lh-base mb-0">In house intelligence conversation</h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">Alarm Systems</p>
                                <h5 class="lh-base mb-3">In house intelligence conversation</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square button rounded-circle mx-1" href="/static/img/portfolio-4.jpg"
                                        data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square button rounded-circle mx-1" href=""><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="/static/img/portfolio-5.jpg" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">CCTV & Video</p>
                                <h5 class="lh-base mb-0">Patient health care monitoring <br> & Repoting
</h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">CCTV & Video</p>
                                <h5 class="lh-base mb-3">Patient health care monitoring <br>  & Repoting
</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square button rounded-circle mx-1" href="/static/img/portfolio-5.jpg"
                                        data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square button rounded-circle mx-1" href=""><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-inner">
                            <img class="img-fluid w-100" src="/static/img/portfolio-6.jpg" alt="">
                            <div class="text-center p-4">
                                <p class="text-primary mb-2">Smart Home</p>
                                <h5 class="lh-base mb-0">AI based agents builder & Chatbots</h5>
                            </div>
                            <div class="portfolio-text text-center bg-white p-4">
                                <p class="text-primary mb-2">Smart Home</p>
                                <h5 class="lh-base mb-3">AI based agents builder & Chatbots</h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-square button rounded-circle mx-1" href="/static/img/portfolio-6.jpg"
                                        data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square button rounded-circle mx-1" href=""><i
                                            class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class=" mb-5">Testimonial<span class="m-2 blink_me"
                        style="border-right:3px solid #169545; "></span></h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center"
                    data-dot="<img class='img-fluid' src='/static/img/testimonial-1.jpg' alt=''>">
                    <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed
                        sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum
                        justo sea clita.</p>
                    <h4>Client Name</h4>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item text-center"
                    data-dot="<img class='img-fluid' src='/static/img/testimonial-2.jpg' alt=''>">
                    <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed
                        sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum
                        justo sea clita.</p>
                    <h4>Client Name</h4>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item text-center"
                    data-dot="<img class='img-fluid' src='/static/img/testimonial-3.jpg' alt=''>">
                    <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed
                        sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum
                        justo sea clita.</p>
                    <h4>Client Name</h4>
                    <span class="text-primary">Profession</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



    <!-- logo section start  -->

    <div>
        <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>

        <h1 class="mb-5 text-center">Our Customers <span class="m-2 blink_me"
                style="border-right:3px solid #169545; "></span></h1>
        <div class="logos">
            <div class="logos-slide">
                <img src="/static/logos/logo1.png" />
                <img src="/static/logos/logo2.png" />
                <img src="/static/logos/logo3.jpg" />
                <img src="/static/logos/logo4.png"  style=" height:80px; height:80px; "/>
                <img src="/static/logos/logo5.png" />
                <img src="/static/logos/logo6.png" style=" height:80px; height:80px; " />
            </div>

            <div class="logos-slide">
                <img src="/static/logos/logo1.png" />
                <img src="/static/logos/logo2.png" />
                <img src="/static/logos/logo3.jpg" />
                <img src="/static/logos/logo4.png" style=" height:80px; height:80px;" />
                <img src="/static/logos/logo5.png"  />
                <img src="/static/logos/logo6.png" style=" height:80px; height:80px; "/>
            </div>
        </div>
    </div>
    <!-- logo section end  -->
{% include 'footer.html' %}