{% include 'header.html' %}

 <!-- Page Header Start -->
 <div class="container-fluid py-5 mb-5" style="background: url(/static/img/header/life1.png) center center no-repeat;background-size: cover;height: 80vh;">
    <div class="container py-5">
        <h2 class="  mb-3 text-color animated slideInDown">Life at Innverse</h2>
        <h1 class="  mb-5  animated slideInDown">Passionate digital<br> innovators in action</h1>
        <a class="newbtn " href="">Get Started </a>

    </div>
</div>
<!-- Page Header End -->

    <!-- section start -->
<div class="container">
    <p class="text-center text-color">THE INNVERSE LIFESTYLE</p>
    <h1 class="text-center" >Affinity and human ingenuity</h1>

</div>
    <div class="container c1 " style="margin-top: 50px;">
        
        <div class="card1">
            <div class="card__header">
                <img src="/static/img/career/img5.jpg" alt="card__image" class="card__image img1" width="600">
            </div>
            <div class="card__body">
               

                <p class="text-dark fs-5">A vibrant showcase of athleticism and team spirit, our Sports Gala brings together enthusiasts for a day of competitive fun and exciting challenges.</p>
              

            </div>

        </div>
        <div class="card1">
            <div class="card__header">
                <img src="/static/img/career/img6.jpg" alt="card__image" class="card__image img1" width="600">
            </div>
            <div class="card__body">
             

                <p class="text-dark fs-5">A vibrant showcase of athleticism and team spirit, our Sports Gala brings together enthusiasts for a day of competitive fun and exciting challenges.</p>
               


            </div>

        </div>
        <div class="card1">
            <div class="card__header">
                <img src="/static/img/career/img7.jpg" alt="card__image" class="card__image img1" width="600">
            </div>
            <div class="card__body">
                

                <p class="text-dark fs-5">
                    A vibrant showcase of athleticism and team spirit, our Sports Gala brings together enthusiasts for a day of competitive fun and exciting challenges.</p>
               


            </div>

        </div>
    </div>
    
    <!-- section end -->

     <!-- pic section Start -->
     <div class="container-fluid pt-5 pb-5" style="  margin-top: 80px;">
        <div class="container">

            <h1 class=" mb-5">We build and nurture a caring culture</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/img/career/img1.png" alt="">
                </div>
                <div class="col-md-6 ">
                    <h2 class="mb-5  mt-5">
                        Learning and development</h2>
                    <p class="mb-3">Access a wealth of resources, training programs, and mentorship opportunities that
                        will help you thrive and advance your career in a supportive environment.</p>
                   
                </div>


            </div>
        </div>

    </div>

    <!-- pic section Start -->


    <!-- pic2 section Start -->
    <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h2 class="mb-5  mt-5">
                        Rewards and benefits</h2>
                    <p class="mb-3">Enjoy competitive compensation packages, comprehensive health coverage, and
                        performance-based incentives that recognize and celebrate your contributions to our shared
                        success.</p>
                </div>
                <div class="col-md-6">
                    <img src="/static/img/career/img2.png" alt="">
                </div>
            </div>
        </div>

    </div>

    <!-- pic2 section Start -->

    <!-- pic section Start -->
    <div class="container-fluid pt-5 pb-5" style="  margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/img/career/img3.png" alt="">
                </div>
                <div class="col-md-6 ">
                    <h2 class="mb-5 mt-5">
                        Work-Life Balance</h2>
                    <p class="mb-3">Discover work-life balance with our hybrid model, offering remote and in-office
                        options for the flexibility you need to excel in your unique lifestyle.</p>
                   
                </div>


            </div>
        </div>

    </div>

    <!-- pic section Start -->

     <!-- pic2 section Start -->
     <div class="container-fluid pt-5 pb-5" style="background-color: #f3f3f3;margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h2 class="mb-5  mt-5">
                        Diversity, Equity, and Inclusion</h2>
                    <p class="mb-3">Be part of an inclusive organization where every voice is heard and valued, promoting a workplace that celebrates diversity at every level.</p>
                </div>
                <div class="col-md-6">
                    <img src="/static/img/career/img4.png" alt="">
                </div>
            </div>
        </div>

    </div>

    <!-- pic2 section Start -->

     <!-- who can Start -->
     <div class="container">
        <div class="row " style="margin-top: 100px;">
            <div class="col-md-12">
                <h1 class=" text-center">Thrive in a fast-growing, supportive environment.</h1>
                <p class="text-center" style="font-size: 22px;">Are you ready to push boundaries and explore new
                    frontiers of innovation?</p>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 ">
                        <a href="contact.html"><button class=" mt-3 mb-5 lwt ">LET'S WORK TOGETHER</button></a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- who can End -->
{% include 'footer.html' %}